@font-face {
    font-family: "Redressed";
    src: url(fonts/letra1.ttf);
}

@font-face {
    font-family: "Anton";
    src: url(fonts/letra2.ttf);
}

@font-face {
    font-family: "DotGothic";
    src: url(fonts/letra3.ttf);
}

@font-face {
    font-family: "AkayaTelivigala";
    src: url(fonts/letra4.ttf);
}

h1 {
    font-family: anton;
    padding-top: 20px;
}

h2 {
    margin: auto;
    width: 1280px;
    font-family: akayatelivigala;
    padding-top: 80px;
}

#AGRUPA {
    font-size: 22px;
    font-family: anton;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
    background: url(img/Background-3.jpg);
    background-attachment: fixed;
}