@font-face {
    font-family: "Redressed";
    src: url(fonts/letra1.ttf);
}

@font-face {
    font-family: "Anton";
    src: url(fonts/letra2.ttf);
}

@font-face {
    font-family: "DotGothic16";
    src: url(fonts/letra3.ttf);
}

@font-face {
    font-family: "AkayaTelivigala";
    src: url(fonts/letra4.ttf);
}

h1 {
    font-size: 50px;
    font-family: AkayaTelivigala;
    font-weight: bold;
    color: rgba(0, 153, 224, 0.925);
}

h2 {
    font-size: 30px;
    font-family: verdana;
    font-weight: bold;
    color: rgba(0, 153, 224, 0.925);
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: auto;
    background: url(img/Background-1.jpg);
    text-align: center;
    display: block;
    background-attachment: fixed;
    width: auto;
}

.menu_bar {
    display: none;
}

header {
    width: 100%;
}

header nav {
    background: #055d94e7;
    z-index: 1000;
    max-width: 1000px;
    width: 95%;
    margin: 20px auto;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    position: relative;
    font-family: redressed;
    font-weight: bold;
    font-size: 21px;
}

header nav ul li:hover {
    background: #9435d3bb;
    transition: all .3s;
}

header nav ul li a {
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 20px;
}

header nav ul li a span {
    margin-right: 10px;
}

header nav ul li:hover .children {
    display: block;
}

header nav ul li .children {
    display: none;
    background: #011826;
    position: absolute;
    width: 150%;
    z-index: 1000;
}

header nav ul li .children li {
    display: block;
    overflow: hidden;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
}

header nav ul li .children li a {
    display: block;
}

header nav ul li .children li a span {
    float: right;
    position: relative;
    top: 3px;
    margin-right: 0;
    margin-left: 10px;
}

header nav ul li .caret {
    position: relative;
    top: 3px;
    margin-left: 10px;
    margin-right: 0px;
}

@media screen and (max-width: 800px) {
    body {
        padding-top: 80px;
    }
    .menu_bar {
        display: block;
        width: 100%;
        position: fixed;
        top: 0;
        background: #055d94e7;
        font-family: akayatelivigala;
    }
    .menu_bar .bt-menu {
        display: block;
        padding: 20px;
        color: #fff;
        overflow: hidden;
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;
    }
    .menu_bar span {
        float: right;
        font-size: 40px;
    }
    header nav {
        width: 80%;
        height: calc(100% - 80px);
        position: fixed;
        right: 100%;
        margin: 0;
        overflow: scroll;
    }
    header nav ul li {
        display: block;
        border-bottom: 1px solid rgba(255, 255, 255, .5);
    }
    header nav ul li a {
        display: block;
    }
    header nav ul li:hover .children {
        display: none;
    }
    header nav ul li .children {
        width: 100%;
        position: relative;
    }
    header nav ul li .children li a {
        margin-left: 20px;
    }
    header nav ul li .caret {
        float: right;
    }
}